{#*
 * 2007-2019 Frédéric BENOIST
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@prestashop.com so we can send you a copy immediately.
 *
 *  @author    Frédéric BENOIST
 *  @copyright 2013-2019 Frédéric BENOIST <https://www.fbenoist.com/>
 *  @license   http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 *#}
{% extends '@Modules/kb_config/views/templates/admin/base.html.twig' %}

{% block body %}
    {% block nav %}
        {% include '@Modules/kb_config/views/templates/admin/index/nav/nav.html.twig' %}
    {% endblock %}
    <div class="tab-content">

        <div class='d-flex flex-row action-buttons'>
            {% if records|length < 2 %}
            <a class="btn btn-primary" href="{{ path("kb_config_add") }}" role="button">Dodaj nowy blok</a>
            {% endif %}
        </div>

        {# Tab content #}
        <div id="cat1" class="container tab-pane active"><br>
            {% for record in records %}
            <div class="card">
                <div class="card-header d-flex justify-content-between align-content-center">
                    {{ record.title }}
                     <div class="action-button-list d-flex flex-row justify-content-around actions">
                        <a class="btn btn-secondary" href="{{ url("kb_config_edit", {"id": record.id}) }}">Edytuj</a>
                        <a class="btn btn-danger" href="{{ url("kb_config_delete", {"id": record.id}) }}">Usuń</a>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for product in record.products %}
                            <li class="list-group-item">{{product.product_name}}</li>
                        {% endfor %}
                    </ul>
                    <a href="{{ record.link }}" class="card-link">{{ record.link }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="cat2" class="container tab-pane fade"><br>
            <h3>Menu 1</h3>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
    
{% endblock %}
